<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        JSList score:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.jsIndex}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Demand:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.demand}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Maturity:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.maturity}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Plugins:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.addOns}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Community:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.community}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Future proof:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.future}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Size (gzip):
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.sizeNormalized}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Developer experience:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.developerExperience}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Performance:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.performance}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Documentation:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.documentation}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Available developers:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.availableDevelopers}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Documentation:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.properties.documentation}}
      </div>
    </div>
  </div>
</div>
