<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        JSList score:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.jsIndex}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Demand:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.demand}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Maturity:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.maturity}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Plugins:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.addOns}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Community:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.community}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Future proof:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.future}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Size (gzip):
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.sizeNormalized}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Developer experience:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.developerExperience}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Performance:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.performance}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Documentation:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.documentation}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Available developers:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.availableDevelopers}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        Documentation:
      </div>
      <div class="col-md-7">
        {{fw-progress-bar value=model.documentation}}
      </div>
    </div>
  </div>
</div>
