{{#bs-navbar}}
  <div class="container">
    JSList
  </div>
{{/bs-navbar}}

<div class="container">
  <div class="collections-strip clearfix">
    <div class="collections-strip-inner">
      {{#each collections as |collection|}}
        {{collection-block collection=collection}}
      {{/each}}
    </div>
  </div>
</div>

<div class="container" style="margin-top: 20px;">
  {{#each-in filters as |_ value|}}
    <button class="btn btn-filter {{if (get this value.param) 'active'}}" {{action 'toggleFilter' value.param}}>
      {{value.name}}
    </button>
  {{/each-in}}

  <a href="#" {{action 'clearFilters'}}>
    Clear filters
  </a>
</div>

<div class="container">
  {{#each frameworks as |framework|}}
    {{framework-block framework=framework}}
  {{/each}}
</div>

{{outlet}}
